                                        /* FOOTER */

.footer {
    height: 100px;
    box-shadow: #fff1;
}

.footer__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Eje principal */
    align-items: center; /* Eje secundario */
    flex-wrap: wrap;
}

.flex-footer-hijo {
    padding: 5px;
    /* width: 100px;
    height: 100px; */
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}